.color1 {
	color: #585858;
}
.color2 {
	color: #9B9B9B;
}
.color3{
	color: #242424;
}
.color4{
	color: #00AFC7;
}
.color5{
	color: #9E9E9E;
}
.color6{
	color: #FF0000;
}
.color7{
	color: #1D1D1D;
}
.color8{
	color: #CECECE;
}
.color9{
	color: #333303;
}
.color10{
	color: #292929;
}
.color11{
	color: #3A3A3A;
}
.color12{
	color: #0D0D0D;
}
.font_size_6{
	font-size: 6px;
}
.font_size_9{
	font-size: 9px;
}
.font_size_10{
	font-size: 10px;
}
.font_size_12{
	font-size: 12px;
}
.font_size_13{
	font-size: 13px;
}
.font_size_14{
	font-size: 14px;
}
.font_size_15{
	font-size: 15px;
}
.font_size_16{
	font-size: 16px;
}
.font_size_18{
	font-size: 18px;
}
.font_size_21{
	font-size: 21px;
}
.font_size_25{
	font-size: 25px;
}
.margin-top_15{
	margin-top: 15px;
}
.margin-top_33{
	margin-top: 33px;
}
.margin-top_44{
	margin-top: 44px;
}
.margin-top_59{
	margin-top: 59px;
}
.margin-top_76{
	margin-top: 76px;
}
.margin-top_90{
	margin-top: 90px;
}
.border_radius_4{
	border-radius: 4px;
}
.background1{
	background-color: #D1EFF3;
}
.background2{
	background-color: #EFEFEF;
}
.background3{
	background-color: #00AFC7;
}
.fui-col-20 {
	width: 21%;
}
.text-40 {
	font-size: 40rpx
}
.text-32 {
	font-size: 32upx
}
.text-30 {
	font-size: 30upx
}
.text-36 {
	font-size: 36upx
}
.text-26{
	font-size: 26upx
}
.text-24{
	font-size: 24upx
}
.pl30{
	padding-left: 30rpx;
}
.pr30{
	padding-right: 30rpx;
}
.pt30{
	padding-top: 30rpx;
}
.pb30{
	padding-bottom: 30rpx;
}
.pb50{
	padding-bottom: 50rpx;
}
.pb80{
	padding-bottom: 80rpx;
}
.h300{
	height: 300rpx;
}
.h340{
	height: 340rpx;
}
.w100b{
	width: 100%;
}
.h100b{
	height: 100%;
}
.twohide,.twoHide{
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-line-clamp:2;
	overflow:hidden;
	word-break:break-all
}
.huanhang{
	word-break:break-all;
	white-space:pre-wrap
}
.onehide,oneHide{
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.yeswrap{
	word-wrap:break-word;
	word-break:normal;
	white-space: initial
}
.nowrap{
	white-space:nowrap
}
.pore{
	position: relative;
}
.poab{
	position: absolute;
}
.pofx{
	position: fixed;
}
.posk{
	position: sticky;
}
.t0{
	top: 0;
}
.b0{
	bottom: 0;
}
.l0{
	left: 0;
}
.r0{
	right: 0;
}
.zindex10{
	z-index: 10;
}
.dsf{
	display: flex;
}
.dsif{
	display: inline-flex;
}
.jcc{
	justify-content: center;
}
.alc{
	align-items: center;
}
.alb{
	align-items: baseline;
}
.jcsb{
	justify-content: space-between;
}
.jcfe{
	justify-content: flex-end;
}
.flex-wrap{
	flex-wrap: wrap;
}
.fg1{
	width: 0;
	flex-grow: 1;
}
.overhide{
	overflow: hidden;
}
.w12{
	width: 12rpx;
}
.h30{
	height: 30rpx;
}
.h20{
	height: 20rpx;
}
.mr10{
	margin-right: 10rpx;
}
.col999{
	color: #999;
}
.col01{
	color: #010101;
}
.fwb{
	font-weight: bold;
}
.w215{
	width: 215rpx;
}
.h215{
	height: 215rpx;
}
.bdra10{
	border-radius: 10rpx;
}
.bdra50b{
	border-radius: 50%;
}
.pb24{
	padding-bottom: 24rpx;
}
.text-28{
	font-size: 28rpx;
}
.pt18{
	padding-top: 18rpx;
}
.pt16{
	padding-top: 16rpx;
}
.pb18{
	padding-bottom: 18rpx;
}
.w20{
	width: 20rpx;
}
.bgFF7F0D{
	background-color: #FF7F0D;
}
.mr8{
	margin-right: 8rpx;
}
.pl16{
	padding-left: 16rpx;
}
.pr16{
	padding-right: 16rpx;
}
.text-22{
	font-size: 22rpx;
}
.colfff{
	color: #fff;
}
.h42{
	height: 42rpx;
}
.pb28{
	padding-bottom: 28rpx;
}
.bgf0{
	background-color: #f0f0f0;
}
.h124{
	height: 124rpx;
}
.mt10{
	margin-top: 10rpx;
}
.mt6{
	margin-top: 6rpx;
}
.h103{
	height: 103rpx;
}
.h320{
	height: 320rpx;
}
.r14{
	right: 14rpx;
}
.t14{
	top: 14rpx;
}
.w80{
	width: 80rpx;
}
.h48{
	height: 48rpx;
}
.bg000-op3{
	background-color: rgba(0, 0, 0, .3);
}
.pl18{
	padding-left: 18rpx;
}
.pr18{
	padding-right: 18rpx;
}
.pb18{
	padding-bottom: 18rpx;
}
.bgF8F8FA{
	background-color: #F8F8FA;
}
.w138{
	width: 138rpx;
}
.h38{
	height: 38rpx;
}
.pt24{
	padding-top: 24rpx;
}
.h64{
	height: 64rpx;
}
.pb20{
	padding-bottom: 20rpx;
}
.w10{
	width: 10rpx;
}
.h10{
	height: 10rpx;
}
.mr16{
	margin-right: 16rpx;
}
.ml40{
	margin-left: 40rpx;
}
.bbed{
	border-bottom: 1px solid #ededed;
}
.w210{
	width: 210rpx;
}
.h160{
	height: 160rpx;
}
.ml34{
	margin-left: 34rpx;
}
.col333{
	color: #333;
}
.w225{
	width: 225rpx;
}
.h160{
	height: 160rpx;
}
.pt20{
	padding-top: 20rpx;
}
.pb16{
	padding-bottom: 16rpx;
}
.w34{
	width: 34rpx;
}
.h34{
	height: 34rpx;
}
.w335{
	width: 335rpx;
}
.pl24{
	padding-left: 24rpx;
}
.pr24{
	padding-right: 24rpx;
}
.mr15{
	margin-right: 15rpx;
}
.h24{
	height: 24rpx;
}
.h80{
	height: 80rpx;
}
.bgEFF0F2{
	background-color: #EFF0F2;
}
.bsbox{
	box-sizing: border-box;
}
.mb16{
	margin-bottom: 16rpx;
}
.pl20{
	padding-left: 20rpx;
}
.w27{
	width: 27rpx;
}
.h29{
	height: 29rpx;
}
.h116{
	height: 116rpx;
}
.pr20{
	padding-right: 20rpx;
}
.h36{
	height: 36rpx;
}
.col3775FF{
	color: #3775FF;
}
.bg3775FF{
	background-color: #3775FF;
}
.h28{
	height: 28rpx;
}
.bdra5{
	border-radius: 5rpx;
}
.w235{
	width: 235rpx;
}
.h244{
	height: 244rpx;
}
.mr18{
	margin-right: 18rpx;
}
.h100{
	height: 100rpx;
}
.ml30{
	margin-left: 30rpx;
}
.h62{
	height: 62rpx;
}
.mr22{
	margin-right: 22rpx;
}
.h62{
	height: 62rpx;
}
.bdra30{
	border-radius: 30rpx;
}
.bd999{
	border: 1px solid #999;
}
.w188{
	width: 188rpx;
}
.h166{
	height: 166rpx;
}
.colFF9924{
	color: #FF9924;
}
.bgFF9924-op1{
	background-color: rgba(255, 153, 36, .1);
}
.pl12{
	padding-left: 12rpx;
}
.pr12{
	padding-right: 12rpx;
}
.w124{
	width: 124rpx;
}
.pr10{
	padding-right: 10rpx;
}
.mt24{
	margin-top: 24rpx;
}
.pl15{
	padding-left: 15rpx;
}
.pr15{
	padding-right: 15rpx;
}
.w72{
	width: 72rpx;
}
.h72{
	height: 72rpx;
}
.w25b{
	width: 25%;
}
.w20b{
	width: 20%;
}
.w14{
	width: 14rpx;
}
.h87{
	height: 87rpx;
}
.w275{
	width: 275rpx;
}
.h220{
	height: 220rpx;
}
.pb26{
	padding-bottom: 26rpx;
}
.pl14{
	padding-left: 14rpx;
}
.colED0000{
	color: #ED0000;
}
.mb18{
	margin-bottom: 18rpx;
}
.h12{
	height: 12rpx;
}
.pr14{
	padding-right: 14rpx;
}
.h56{
	height: 56rpx;
}
.mt20{
	margin-top: 20rpx;
}
.pb40{
	padding-bottom: 40rpx;
}
.mtf20{
	margin-top: -20rpx;
}
.w60{
	width: 60rpx;
}
.h60{
	height: 60rpx;
}
.w120{
	width: 120rpx;
}
.h54{
	height: 54rpx;
}
.colED4800{
	color: #ED4800;
}
.bdED4800{
	border: 1px solid #ED4800;
}
.bged4800-op1{
	background-color: rgba(237, 72, 0, 0.1);
}
.w195{
	width: 195rpx;
}
.h215{
	height: 215rpx;
}
.pt10{
	padding-top: 10rpx;
}
.pb10{
	padding-bottom: 10rpx;
}
.w96{
	width: 96rpx;
}
.h96{
	height: 96rpx;
}
.colEFF0F2{
	color: #EFF0F2;
}
.w62{
	width: 62rpx;
}
.w92{
	width: 92rpx;
}
.h84{
	height: 84rpx;
}
.colE2A85B{
	color: #E2A85B;
}
.pl15{
	padding-left: 15rpx;
}
.colFFDFB5{
	color: #FFDFB5;
}
.col19151D{
	color: #19151D;
}
.h105{
	height: 105rpx;
}
.w40{
	width: 40rpx;
}
.h22{
	height: 22rpx;
}
.bbe0{
	border-bottom: 1px solid #d0d0d0;
}
.bgEFF0F2{
	background-color: #EFF0F2;
}
.bg000-op5{
	background-color: rgba(0, 0, 0, .5);
}
.h40{
	height: 40rpx;
}
.w22{
	width: 22rpx;
}
.colFE{
	color: #fefefe;
}
.mr20{
	margin-right: 20rpx;
}
.h335{
	height: 335rpx;
}
.bdra-br-10{
	border-bottom-right-radius: 10rpx;
}
.w56{
	width: 56rpx;
}
.l40{
	left: 40rpx;
}
.w24{
	width: 24rpx;
}
.pl60{
	padding-left: 60rpx;
}
.pr60{
	padding-right: 60rpx;
}
.h102{
	height: 102rpx;
}
.h66{
	height: 66rpx;
}
.h162{
	height: 162rpx;
}
.col4A2800{
	color: #4A2800;
}
.op5{
	opacity: .5;
}
.bgBC6703{
	background-color: #BC6703;
}
.w70{
	width: 70rpx;
}
.h36{
	height: 36rpx;
}
.bgFF5333{
	background-color: #FF5333;
}
.bg3775FF-op1{
	background-color: rgba(55, 117, 255, .1);
}
.bd3775FF{
	border: 1px solid #3775FF;
}
.h734{
	height: 734rpx;
}
.pt120{
	padding-top: 120rpx;
}
.pt100{
	padding-top: 100rpx;
}
.pl55{
	padding-left: 55rpx;
}
.pr55{
	padding-right: 55rpx;
}
.pt38{
	padding-top: 38rpx;
}
.w250{
	width: 250rpx;
}
.h82{
	height: 82rpx;
}
.bdra50{
	border-radius: 50rpx;
}
.h88{
	height: 88rpx;
}
.w18{
	width: 18rpx;
}
.ml24{
	margin-left: 24rpx;
}
.bbe5{
	border-bottom: 1px solid #e5e5e5;
}
.ml18{
	margin-left: 18rpx;
}
.h104{
	height: 104rpx;
}
.h114{
	height: 114rpx;
}
.h256{
	height: 256rpx;
}
.pt14{
	padding-top: 14rpx;
}
.pb46{
	padding-bottom: 46rpx;
}
.h90{
	height: 90rpx;
}
.bdfff{
	border: 1px solid #fff;
}
.w110{
	width: 110rpx;
}
.ml14{
	margin-left: 14rpx;
}
.w412{
	width: 412rpx;
}
.mr24{
	margin-right: 24rpx;
}
.w26{
	width: 26rpx;
}
.h25{
	height: 25rpx;
}
.colc7{
	color: #c7c7c7;
}
.h350{
	height: 350rpx;
}
.w122{
	width: 122rpx;
}
.h70{
	height: 70rpx;
}
.w1{
	width: 1px;
}
.ml20{
	margin-left: 20rpx;
}
.bgFFC500{
	background-color: #FFC500;
}
.pl10{
	padding-left: 10rpx;
}
.w84{
	width: 84rpx;
}
.h184{
	height: 184rpx;
}
.bgE9F2FF{
	background-color: #E9F2FF;
}
.h23{
	height: 23rpx;
}
.col3776FF{
	color: #3776FF;
}
.mr14{
	margin-right: 14rpx;
}
.pb14{
	padding-bottom: 14rpx;
}
.h200{
	height: 200rpx;
}
.w116{
	width: 116rpx;
}
.h50{
	height: 50rpx;
}
.bg3776FF{
	background-color: #3776FF;
}
.h400{
	height: 400rpx;
}
.h190{
	height: 190rpx;
}
.col3156D4{
	color: #3156D4;
}
.bgE7FEFD{
	background-color: #E7FEFD;
}
.r6{
	right: 6rpx;
}
.b36{
	bottom: 36rpx;
}
.w126{
	width: 126rpx;
}
.h110{
	height: 110rpx;
}
.bgFFFDE2{
	background-color: #FFFDE2;
}
.bgfff{
	background-color: #FFF;
}
.colE05F00{
	color: #E05F00;
}
.mt30{
	margin-top: 30rpx;
}
.w47{
	width: 47rpx;
}
.h51{
	height: 51rpx;
}
.h98{
	height: 98rpx;
}
.h400{
	height: 400rpx;
}
.w430{
	width: 430rpx;
}
.h238{
	height: 238rpx;
}
.col666{
	color: #666;
}
.h78{
	height: 78rpx;
}
.pb44{
	padding-bottom: 44rpx;
}
.w190{
	width: 190rpx;
}
.h132{
	height: 132rpx;
}
.bbe6{
	border-bottom: 1px solid #e6e6e6;
}
.pl32{
	padding-left: 32rpx;
}
.pr32{
	padding-right: 32rpx;
}
.h64{
	height: 64rpx;
}
.pl28{
	padding-left: 28rpx;
}
.h580{
	height: 580rpx;
}
.h156{
	height: 156rpx;
}
.text-50{
	font-size: 50rpx;
}
.tf4{
	top: -4rpx;
}
.h62{
	height: 62rpx;
}
.bgddd{
	background-color: #ddd;
}
.mb25{
	margin-bottom: 25rpx;
}
.pb36{
	padding-bottom: 36rpx;
}
.w32{
	width: 32rpx;
}
.h32{
	height: 32rpx;
}
.bbde{
	border-bottom: 1px solid #dedede;
}
.bgEC5D37{
	background-color: #EC5D37;
}
.h14{
	height: 14rpx;
}
.ml16{
	margin-left: 16rpx;
}
.mb20{
	margin-bottom: 20rpx;
}
.mb24{
	margin-bottom: 24rpx;
}
.w146{
	width: 146rpx;
}
.h166{
	height: 166rpx;
}
.w30{
	width: 30rpx;
}
.w50{
	width: 50rpx;
}
.t48{
	top: 48rpx;
}
.t60{
	top: 60rpx;
}
.bgDA2A2A{
	background-color: #DA2A2A;
}
.bbe4{
	border-bottom: 1px solid #e4e4e4;
}
.pt34{
	padding-top: 34rpx;
}
.w158{
	width: 158rpx;
}
.h158{
	height: 158rpx;
}
.text-34{
	font-size: 34rpx;
}
.lh40{
	line-height: 40rpx;
}
.lh34{
	line-height: 34rpx;
}
.pl64{
	padding-left: 64rpx;
}
.pr64{
	padding-right: 64rpx;
}
.bd3775FF{
	border: 1px solid #3775FF;
}
.hover-btn:active{
	opacity: .7;
}
.bddc{
	border: 1px solid #dcdcdc;
}
.w36{
	width: 36rpx;
}
.bgfb{
	background-color: #fbfbfb;
}
.bdEF2727{
	border: 1px solid #EF2727;
}
.bgEF2727{
	background-color: #EF2727;
}
.btdc{
	border-top: 1px solid #dcdcdc;
}
.h74{
	height: 74rpx;
}
.w600{
	width: 600rpx;
}
.w200{
	width: 200rpx;
}
.pb34{
	padding-bottom: 34rpx;
}
.bbda{
	border-bottom:1px solid #dadada;
}
.h480{
	height: 480rpx;
}
.pb56{
	padding-bottom: 56rpx;
}
.w23{
	width: 23rpx;
}
.h21{
	height: 21rpx;
}
.mtf24{
	margin-top: -24rpx;
}
.bdra15{
	border-radius: 15rpx;
}
.bbEFF0F2{
	border-bottom: 1px solid #EFF0F2;
}
.h122{
	height: 122rpx;
}
.w150{
	width: 150rpx;
}
.h150{
	height: 150rpx;
}
.text-right{
	text-align: right;
}
.h360{
	height: 360rpx;
}
.h560{
	height: 560rpx;
}
.w400{
	width: 400rpx;
}
.bgfff-op3{
	background-color: rgba(255, 255, 255, .3);
}
.op7{
	opacity: .7;
}
.ml28{
	margin-left: 28rpx;
}
.mtf60{
	margin-top: -60rpx;
}
.bdra40{
	border-radius: 40rpx;
}
.w328{
	width: 328rpx;
}
.mr30{
	margin-right: 30rpx;
}
.h480{
	height: 480rpx;
}
.pt32{
	padding-top: 32rpx;
}
.bdra20{
	border-radius: 20rpx;
}
.b30{
	bottom: 30rpx;
}
.h264{
	height: 264rpx;
}
.bg00AFC7{
	background-color: #00AFC7;
}
.mtf160{
	margin-top: -160rpx;
}
.lh50{
	line-height: 50rpx;
}
.lh38{
	line-height: 38rpx;
}
.pt28{
	padding-top: 28rpx;
}
.pb32{
	padding-bottom: 32rpx;
}
.mb32{
	margin-bottom: 32rpx;
}
.bgFBBB32{
	background-color: #FBBB32;
}
.bgFEF8EA{
	background-color: #FEF8EA;
}
.lh42{
	line-height: 42rpx;
}
.lh33{
	line-height: 33rpx;
}
.bgEAF1FE{
	background-color: #EAF1FE;
}
.bg3276FC{
	background-color: #3276FC;
}
.bgF0FBDE{
	background-color: #F0FBDE;
}
.bgB9D787{
	background-color: #B9D787;
}
.bgf9{
	background-color: #f9f9f9;
}
.mr6{
	margin-right: 6rpx;
}
.pb60{
	padding-bottom: 60rpx;
}
.bgEBF9FB{
	background-color: #EBF9FB;
}
.col00AFC7{
	color: #00AFC7;
}
.h280{
	height: 280rpx;
}
.t18{
	top: 18rpx;
}
.r16{
	right: 16rpx;
}
.lh45{
	line-height: 45rpx;
}
.bgFF9500{
	background-color: #FF9500;
}
.w48{
	width: 48rpx;
}
.text-20{
	font-size: 20rpx;
}
.pt6{
	padding-top: 6rpx;
}
.bgd1{
	background-color: #d1d1d1;
}
.t1{
	top: 1px;
}
.text-18{
	font-size: 18rpx;
}
.mb10{
	margin-bottom: 10rpx;
}
.colFB5B32{
	color: #FB5B32;
}
.bdFB5B32{
	border: 1px solid #FB5B32;
}
.text-line-through{
	text-decoration: line-through;
}
.bgfff-op8{
	background-color: rgba(255, 255, 255, .8);
}
.h44{
	height: 44rpx;
}
.pl4{
	padding-left: 4rpx;
}
.pl8{
	padding-left: 8rpx;
}
.bf48{
	bottom: -48rpx;
}
.bdfff-w4{
	border: 4rpx solid #fff;
}
.pr160{
	padding-right: 160rpx;
}
.pt8{
	padding-top: 8rpx;
}
.ml10{
	margin-left: 10rpx;
}
.bgFFEEEA{
	background-color: #FFEEEA;
}
.colFF9500{
	color: #FF9500;
}